/* overflow hidden (lub auto) */

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    overflow: hidden;
}

a {
    float: left;
    padding: 30px;
    margin: 20px;
    background-color: #eee;
}